* {
    base:    #161616;
    surface: #262626;
    overlay: #393939;
    muted:   #6f6f6f;
    text:    #f2f4f8;
    pink:    #ee5396;
    purple:  #be95ff;
    cyan:    #33b1ff;

    background-color: @base;
    text-color:        @text;
}

window {
    background-color: @base;
    border:           2px;
    border-color:     @purple;
    border-radius:    8px;
    width:            25%;
}

mainbox {
    background-color: @base;
    padding: 10px;
    spacing: 12px;
}

inputbar {
    background-color: @surface;
    text-color:        @text;
    padding:           8px;
    border-radius:     6px;
}

listview {
    background-color: @base;
    spacing:            4px;
}

element {
    background-color: @base;
    text-color:         @text;
    padding:            6px;
    border-radius:      6px;
}

element selected {
    background-color: @overlay;
    text-color:         @purple;
}

element-icon {
    size: 24px;
}
